In [1]:
import pandas as pd
import numpy as np

In [2]:
df = pd.read_csv('./datasets/trulia_10011_all_pages_df_almost_perfect.csv')

In [3]:
df.head()

,Unnamed: 0,address,city/state,home_page,next_page_url,page_url,price,qualities
0,0,458 W 23rd St #Garden,"Chelsea, New York, NY",https://www.trulia.com/,https://www.trulia.com/NY/New_York/10011/2_p/,https://www.trulia.com/NY/New_York/10011/,"$559,000",1bd1ba
1,1,201 W 21st St #7-H,"Chelsea, New York, NY",https://www.trulia.com/,https://www.trulia.com/NY/New_York/10011/2_p/,https://www.trulia.com/NY/New_York/10011/,"$675,000",Studio1ba
2,2,201 W 16th St #4A,"Chelsea, New York, NY",https://www.trulia.com/,https://www.trulia.com/NY/New_York/10011/2_p/,https://www.trulia.com/NY/New_York/10011/,"$1,495,000",2bd2ba101221 sqft
3,3,150 W 12th St #4south,"Greenwich Village, New York, NY",https://www.trulia.com/,https://www.trulia.com/NY/New_York/10011/2_p/,https://www.trulia.com/NY/New_York/10011/,"$3,995,000",2bd2ba1465 sqft
4,4,342 W 21st St #2D,"Chelsea, New York, NY",https://www.trulia.com/,https://www.trulia.com/NY/New_York/10011/2_p/,https://www.trulia.com/NY/New_York/10011/,"$725,000",1bd1ba19440 sqft

# Try splitting qualities into different columns (bd, ba, sqft, Studio)

In [4]:
df[['qualities']]

                qualities
0                  1bd1ba
1               Studio1ba
2       2bd2ba101221 sqft
3         2bd2ba1465 sqft
4        1bd1ba19440 sqft
5               Studio1ba
6       Studio1ba430 sqft
7          1bd1ba802 sqft
8                  1bd1ba
9         4bd4ba3500 sqft
10         1bd1ba740 sqft
11         2bd1ba700 sqft
12        5bd4ba2580 sqft
13         1bd1ba670 sqft
14        6bd6ba4155 sqft
15                 1bd1ba
16        4bd4ba2288 sqft
17   Studio1ba364679 sqft
18                 1bd1ba
19                 1bd1ba
20         1bd1ba769 sqft
21                 2bd2ba
22         2bd2ba891 sqft
23        3bd3ba2025 sqft
24       1bd1ba10250 sqft
25        5bd6ba5955 sqft
26        2bd2ba1455 sqft
27        4bd4ba3447 sqft
28       4bd10ba7050 sqft
29        2bd2ba1400 sqft
..                    ...
390       1bd2ba1058 sqft
391                2bd2ba
392       3bd3ba1560 sqft
393        1bd1ba877 sqft
394       2bd3ba1570 sqft
395     Studio1ba470 sqft
396       4bd7ba5574 sqft
397       3bd3ba1733 sqft
398       1bd2ba1100 sqft
399                Studio
400       2bd3ba1700 sqft
401        1bd1ba490 sqft
402       3bd3ba1934 sqft
403       2bd2ba1351 sqft
404        1bd2ba901 sqft
405       2bd2ba1251 sqft
406       2bd3ba1378 sqft
407        1bd1ba904 sqft
408       2bd2ba1515 sqft
409       2bd2ba1916 sqft
410                4bd3ba
411     1bd1ba296532 sqft
412        1bd1ba692 sqft
413        1bd1ba700 sqft
414       2bd3ba2283 sqft
415     2bd2ba138320 sqft
416     1bd1ba126134 sqft
417       2bd3ba2288 sqft
418       4bd8ba6000 sqft
419       2bd2ba1421 sqft

[420 rows x 1 columns]

# Regex splitting columns

In [5]:
df.head()

,Unnamed: 0,address,city/state,home_page,next_page_url,page_url,price,qualities
0,0,458 W 23rd St #Garden,"Chelsea, New York, NY",https://www.trulia.com/,https://www.trulia.com/NY/New_York/10011/2_p/,https://www.trulia.com/NY/New_York/10011/,"$559,000",1bd1ba
1,1,201 W 21st St #7-H,"Chelsea, New York, NY",https://www.trulia.com/,https://www.trulia.com/NY/New_York/10011/2_p/,https://www.trulia.com/NY/New_York/10011/,"$675,000",Studio1ba
2,2,201 W 16th St #4A,"Chelsea, New York, NY",https://www.trulia.com/,https://www.trulia.com/NY/New_York/10011/2_p/,https://www.trulia.com/NY/New_York/10011/,"$1,495,000",2bd2ba101221 sqft
3,3,150 W 12th St #4south,"Greenwich Village, New York, NY",https://www.trulia.com/,https://www.trulia.com/NY/New_York/10011/2_p/,https://www.trulia.com/NY/New_York/10011/,"$3,995,000",2bd2ba1465 sqft
4,4,342 W 21st St #2D,"Chelsea, New York, NY",https://www.trulia.com/,https://www.trulia.com/NY/New_York/10011/2_p/,https://www.trulia.com/NY/New_York/10011/,"$725,000",1bd1ba19440 sqft

## Studio Column

In [6]:
df['studio'] = df['qualities'].str.extract(r'(Studio)')

In [7]:
df.head()

,Unnamed: 0,address,city/state,home_page,next_page_url,page_url,price,qualities,studio
0,0,458 W 23rd St #Garden,"Chelsea, New York, NY",https://www.trulia.com/,https://www.trulia.com/NY/New_York/10011/2_p/,https://www.trulia.com/NY/New_York/10011/,"$559,000",1bd1ba,NaN
1,1,201 W 21st St #7-H,"Chelsea, New York, NY",https://www.trulia.com/,https://www.trulia.com/NY/New_York/10011/2_p/,https://www.trulia.com/NY/New_York/10011/,"$675,000",Studio1ba,Studio
2,2,201 W 16th St #4A,"Chelsea, New York, NY",https://www.trulia.com/,https://www.trulia.com/NY/New_York/10011/2_p/,https://www.trulia.com/NY/New_York/10011/,"$1,495,000",2bd2ba101221 sqft,NaN
3,3,150 W 12th St #4south,"Greenwich Village, New York, NY",https://www.trulia.com/,https://www.trulia.com/NY/New_York/10011/2_p/,https://www.trulia.com/NY/New_York/10011/,"$3,995,000",2bd2ba1465 sqft,NaN
4,4,342 W 21st St #2D,"Chelsea, New York, NY",https://www.trulia.com/,https://www.trulia.com/NY/New_York/10011/2_p/,https://www.trulia.com/NY/New_York/10011/,"$725,000",1bd1ba19440 sqft,NaN

## Bath column

In [8]:
df['bath'] = df['qualities'].str.extract(r'([0123456789]ba)')

In [9]:
df.head()

,Unnamed: 0,address,city/state,home_page,next_page_url,page_url,price,qualities,studio,bath
0,0,458 W 23rd St #Garden,"Chelsea, New York, NY",https://www.trulia.com/,https://www.trulia.com/NY/New_York/10011/2_p/,https://www.trulia.com/NY/New_York/10011/,"$559,000",1bd1ba,NaN,1ba
1,1,201 W 21st St #7-H,"Chelsea, New York, NY",https://www.trulia.com/,https://www.trulia.com/NY/New_York/10011/2_p/,https://www.trulia.com/NY/New_York/10011/,"$675,000",Studio1ba,Studio,1ba
2,2,201 W 16th St #4A,"Chelsea, New York, NY",https://www.trulia.com/,https://www.trulia.com/NY/New_York/10011/2_p/,https://www.trulia.com/NY/New_York/10011/,"$1,495,000",2bd2ba101221 sqft,NaN,2ba
3,3,150 W 12th St #4south,"Greenwich Village, New York, NY",https://www.trulia.com/,https://www.trulia.com/NY/New_York/10011/2_p/,https://www.trulia.com/NY/New_York/10011/,"$3,995,000",2bd2ba1465 sqft,NaN,2ba
4,4,342 W 21st St #2D,"Chelsea, New York, NY",https://www.trulia.com/,https://www.trulia.com/NY/New_York/10011/2_p/,https://www.trulia.com/NY/New_York/10011/,"$725,000",1bd1ba19440 sqft,NaN,1ba

## Bed Column

In [10]:
df['bed'] = df['qualities'].str.extract(r'([0123456789]bd)')

In [11]:
df.head(30)

,Unnamed: 0,address,city/state,home_page,next_page_url,page_url,price,qualities,studio,bath,bed
0,0,458 W 23rd St #Garden,"Chelsea, New York, NY",https://www.trulia.com/,https://www.trulia.com/NY/New_York/10011/2_p/,https://www.trulia.com/NY/New_York/10011/,"$559,000",1bd1ba,NaN,1ba,1bd
1,1,201 W 21st St #7-H,"Chelsea, New York, NY",https://www.trulia.com/,https://www.trulia.com/NY/New_York/10011/2_p/,https://www.trulia.com/NY/New_York/10011/,"$675,000",Studio1ba,Studio,1ba,NaN
2,2,201 W 16th St #4A,"Chelsea, New York, NY",https://www.trulia.com/,https://www.trulia.com/NY/New_York/10011/2_p/,https://www.trulia.com/NY/New_York/10011/,"$1,495,000",2bd2ba101221 sqft,NaN,2ba,2bd
3,3,150 W 12th St #4south,"Greenwich Village, New York, NY",https://www.trulia.com/,https://www.trulia.com/NY/New_York/10011/2_p/,https://www.trulia.com/NY/New_York/10011/,"$3,995,000",2bd2ba1465 sqft,NaN,2ba,2bd
4,4,342 W 21st St #2D,"Chelsea, New York, NY",https://www.trulia.com/,https://www.trulia.com/NY/New_York/10011/2_p/,https://www.trulia.com/NY/New_York/10011/,"$725,000",1bd1ba19440 sqft,NaN,1ba,1bd
5,5,111 W 11th St #3FE,"Greenwich Village, New York, NY",https://www.trulia.com/,https://www.trulia.com/NY/New_York/10011/2_p/,https://www.trulia.com/NY/New_York/10011/,"$659,000",Studio1ba,Studio,1ba,NaN
6,6,300 W 23rd St #3I,"Chelsea, New York, NY",https://www.trulia.com/,https://www.trulia.com/NY/New_York/10011/2_p/,https://www.trulia.com/NY/New_York/10011/,"$475,000",Studio1ba430 sqft,Studio,1ba,NaN
7,7,148 W 23rd St #3G,"Chelsea, New York, NY",https://www.trulia.com/,https://www.trulia.com/NY/New_York/10011/2_p/,https://www.trulia.com/NY/New_York/10011/,"$700,000",1bd1ba802 sqft,NaN,1ba,1bd
8,8,149 W 12th St #6/6,"Greenwich Village, New York, NY",https://www.trulia.com/,https://www.trulia.com/NY/New_York/10011/2_p/,https://www.trulia.com/NY/New_York/10011/,"$675,000",1bd1ba,NaN,1ba,1bd
9,9,142 5th Ave,"Flatiron District, New York, NY",https://www.trulia.com/,https://www.trulia.com/NY/New_York/10011/2_p/,https://www.trulia.com/NY/New_York/10011/,"$6,950,000",4bd4ba3500 sqft,NaN,4ba,4bd
10,10,13 W 13th St #2AS,"Greenwich Village, New York, NY",https://www.trulia.com/,https://www.trulia.com/NY/New_York/10011/2_p/,https://www.trulia.com/NY/New_York/10011/,"$875,000",1bd1ba740 sqft,NaN,1ba,1bd
11,11,356 W 23rd St #4A,"Chelsea, New York, NY",https://www.trulia.com/,https://www.trulia.com/NY/New_York/10011/2_p/,https://www.trulia.com/NY/New_York/10011/,"$879,000",2bd1ba700 sqft,NaN,1ba,2bd
12,12,166 W 18th St #5C,"Chelsea, New York, NY",https://www.trulia.com/,https://www.trulia.com/NY/New_York/10011/2_p/,https://www.trulia.com/NY/New_York/10011/,"$5,000,000",5bd4ba2580 sqft,NaN,4ba,5bd
13,13,520 W 23rd St #7A,"Chelsea, New York, NY",https://www.trulia.com/,https://www.trulia.com/NY/New_York/10011/2_p/,https://www.trulia.com/NY/New_York/10011/,"$775,000",1bd1ba670 sqft,NaN,1ba,1bd
14,14,483 W 22nd St,"Chelsea, New York, NY",https://www.trulia.com/,https://www.trulia.com/NY/New_York/10011/2_p/,https://www.trulia.com/NY/New_York/10011/,"$7,900,000",6bd6ba4155 sqft,NaN,6ba,6bd
15,15,16 W 16th St #6FN,"Flatiron District, New York, NY",https://www.trulia.com/,https://www.trulia.com/NY/New_York/10011/2_p/,https://www.trulia.com/NY/New_York/10011/,"$799,000",1bd1ba,NaN,1ba,1bd
16,16,43 W 12th St,"Greenwich Village, New York, NY",https://www.trulia.com/,https://www.trulia.com/NY/New_York/10011/2_p/,https://www.trulia.com/NY/New_York/10011/,"$7,750,000",4bd4ba2288 sqft,NaN,4ba,4bd
17,17,101 W 12th St #12Y,"Greenwich Village, New York, NY",https://www.trulia.com/,https://www.trulia.com/NY/New_York/10011/2_p/,https://www.trulia.com/NY/New_York/10011/,"$595,000",Studio1ba364679 sqft,Studio,1ba,NaN
18,18,118 Waverly Pl #4A,"Greenwich Village, New York, NY",https://www.trulia.com/,https://www.trulia.com/NY/New_York/10011/2_p/,https://www.trulia.com/NY/New_York/10011/,"$799,000",1bd1ba,NaN,1ba,1bd
19,19,30 5th Ave #7C,"Greenwich Village, New York, NY",https://www.trulia.com/,https://www.trulia.com/NY/New_York/10011/2_p/,https://www.trulia.com/NY/New_York/10011/,"$1,165,000",1bd1ba,NaN,1ba,1bd
20,20,450 W 17th St #1122,"Chelsea, New York, NY",https://www.trulia.com/,https://www.trulia.com/NY/New_York/10011/2_p/,https://www.trulia.com/NY/New_York/10011/,"$1,695,000",1bd1ba769 sqft,NaN,1ba,1bd
21,21,231 W 16th St #5E,"Chelsea, New York, NY",https://www.trulia.com/,https://www.trulia.com/NY/New_York/10011/2_p/,https://www.trulia.com/NY/New_York/10011/,"$1,495,000",2bd2ba,NaN,2ba,2bd
22,22,520 W 23rd St #7C,"Chelsea, New York, NY",https://www.trulia.com/,https://www.trulia.com/NY/New_York/10011/2_p/,https://www.trulia.com/NY/New_York/10011/,"$1,200,000",2bd2ba891 sqft,NaN,2ba,2bd
23,23,124 W 23rd St #16A,"Chelsea, New York, NY",https://www.trulia.com/,https://www.trulia.com/NY/New_York/10011/2_p/,https://www.trulia.com/NY/New_York/10011/,"$4,495,000",3bd3ba2025 sqft,NaN,3ba,3bd
24,24,335 W 21st St #RE,"Chelsea, New York, NY",https://www.trulia.com/,https://www.trulia.com/NY/New_York/10011/2_p/,https://www.trulia.com/NY/New_York/10011/,"$799,000",1bd1ba10250 sqft,NaN,1ba,1bd
25,25,212 W 18th St #1,"Gramercy, New York, NY",https://www.trulia.com/,https://www.trulia.com/NY/New_York/10011/2_p/,https://www.trulia.com/NY/New_York/10011/,"$35,000,000",5bd6ba5955 sqft,NaN,6ba,5bd
26,26,444 W 19th St #1002,"Chelsea, New York, NY",https://www.trulia.com/,https://www.trulia.com/NY/New_York/10011/2_p/,https://www.trulia.com/NY/New_York/10011/,"$3,750,000",2bd2ba1455 sqft,NaN,2ba,2bd
27,27,459 W 18th St #2,"Chelsea, New York, NY",https://www.trulia.com/,https://www.trulia.com/NY/New_York/10011/2_p/,https://www.trulia.com/NY/New_York/10011/,"$9,950,000",4bd4ba3447 sqft,NaN,4ba,4bd
28,28,462 W 23rd St,"Chelsea, New York, NY",https://www.trulia.com/,https://www.trulia.com/NY/New_York/10011/2_p/,https://www.trulia.com/NY/New_York/10011/,"$18,000,000",4bd10ba7050 sqft,NaN,0ba,4bd
29,29,161 W 15th St #6C,"Chelsea, New York, NY",https://www.trulia.com/,https://www.trulia.com/NY/New_York/10011/2_p/,https://www.trulia.com/NY/New_York/10011/,"$2,290,000",2bd2ba1400 sqft,NaN,2ba,2bd

In [12]:
df.tail()

,Unnamed: 0,address,city/state,home_page,next_page_url,page_url,price,qualities,studio,bath,bed
415,415,161 W 16th St #7L,"Chelsea, New York, NY",https://www.trulia.com/,https://www.trulia.com/NY/New_York/10011/15_p/,https://www.trulia.com/NY/New_York/10011/,"$1,450,000",2bd2ba138320 sqft,NaN,2ba,2bd
416,416,161 W 15th St #2B,"Chelsea, New York, NY",https://www.trulia.com/,https://www.trulia.com/NY/New_York/10011/15_p/,https://www.trulia.com/NY/New_York/10011/,"$2,295,000",1bd1ba126134 sqft,NaN,1ba,1bd
417,417,551 W 21st St #5B,"Chelsea, New York, NY",https://www.trulia.com/,https://www.trulia.com/NY/New_York/10011/15_p/,https://www.trulia.com/NY/New_York/10011/,"$6,625,000",2bd3ba2288 sqft,NaN,3ba,2bd
418,418,353 W 20th St,"Chelsea, New York, NY",https://www.trulia.com/,https://www.trulia.com/NY/New_York/10011/15_p/,https://www.trulia.com/NY/New_York/10011/,"$8,950,000",4bd8ba6000 sqft,NaN,8ba,4bd
419,419,231 10th Ave #7B,"Chelsea, New York, NY",https://www.trulia.com/,https://www.trulia.com/NY/New_York/10011/15_p/,https://www.trulia.com/NY/New_York/10011/,"$2,200,000",2bd2ba1421 sqft,NaN,2ba,2bd

# Change Objects to Float

## Price

In [13]:
df['price'] = df['price'].map(lambda price_cell: price_cell.replace('$', ''))
df['price'] = df['price'].map(lambda price_cell: price_cell.replace(',', ''))
df['price'] = df['price'].astype(int)

In [14]:
df.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 420 entries, 0 to 419
Data columns (total 11 columns):
Unnamed: 0       420 non-null int64
address          420 non-null object
city/state       420 non-null object
home_page        420 non-null object
next_page_url    420 non-null object
page_url         420 non-null object
price            420 non-null int64
qualities        420 non-null object
studio           55 non-null object
bath             417 non-null object
bed              362 non-null object
dtypes: int64(2), object(9)
memory usage: 36.2+ KB

## Bath

In [15]:
df['bath'] = df['bath'].map(lambda bath_cell: np.nan if bath_cell == 'NaN' else str(bath_cell))

In [16]:
# 0 baths are supposed to be 10. Don't know how to make these edits in python. Fixed csv in excel
df['bath'].value_counts()

1ba    169
2ba    108
3ba     62
4ba     42
5ba     16
6ba      8
8ba      4
0ba      4
7ba      3
nan      3
9ba      1
Name: bath, dtype: int64

In [17]:
df['bath'] = df['bath'].map(lambda bath_cell: bath_cell.replace('ba', ''))

In [18]:
df['bath'] = df['bath'].map(lambda bath_cell: bath_cell.replace('0', '10'))

In [19]:
df['bath'].value_counts()

1      169
2      108
3       62
4       42
5       16
6        8
10       4
8        4
nan      3
7        3
9        1
Name: bath, dtype: int64

In [20]:
df['bath'] = df['bath'].astype(float)

## Bed

In [21]:
df['bed'] = df['bed'].map(lambda bed_cell: np.nan if bed_cell == 'NaN' else str(bed_cell))

In [22]:
df['bed'].value_counts()

1bd    126
2bd    113
3bd     60
nan     58
4bd     43
5bd     12
6bd      4
8bd      3
9bd      1
Name: bed, dtype: int64

In [23]:
df['bed'] = df['bed'].map(lambda bath_cell: bath_cell.replace('bd', ''))

In [24]:
df['bed'] = df['bed'].astype(float)

# Save csv

In [25]:
df.to_csv('./datasets/nlp_in_progress.csv', index=False)

In [26]:
# made 0 baths 10 baths in excel

# Load new csv

In [27]:
tr = pd.read_csv('./datasets/nlp_in_progress.csv')

In [28]:
tr.drop(columns='Unnamed: 0', inplace = True)

# Will now try to make square footage as it's own column

In [29]:
tr['test'], tr['sqft'] = tr['qualities'].str.split('[0123456789]ba', 1).str

In [30]:
tr['sqft'] = tr['sqft'].map(lambda sqft_cell: np.nan if sqft_cell == '' else str(sqft_cell))

In [31]:
tr.head()

,address,city/state,home_page,next_page_url,page_url,price,qualities,studio,bath,bed,test,sqft
0,458 W 23rd St #Garden,"Chelsea, New York, NY",https://www.trulia.com/,https://www.trulia.com/NY/New_York/10011/2_p/,https://www.trulia.com/NY/New_York/10011/,559000,1bd1ba,NaN,1.0,1.0,1bd,NaN
1,201 W 21st St #7-H,"Chelsea, New York, NY",https://www.trulia.com/,https://www.trulia.com/NY/New_York/10011/2_p/,https://www.trulia.com/NY/New_York/10011/,675000,Studio1ba,Studio,1.0,NaN,Studio,NaN
2,201 W 16th St #4A,"Chelsea, New York, NY",https://www.trulia.com/,https://www.trulia.com/NY/New_York/10011/2_p/,https://www.trulia.com/NY/New_York/10011/,1495000,2bd2ba101221 sqft,NaN,2.0,2.0,2bd,101221 sqft
3,150 W 12th St #4south,"Greenwich Village, New York, NY",https://www.trulia.com/,https://www.trulia.com/NY/New_York/10011/2_p/,https://www.trulia.com/NY/New_York/10011/,3995000,2bd2ba1465 sqft,NaN,2.0,2.0,2bd,1465 sqft
4,342 W 21st St #2D,"Chelsea, New York, NY",https://www.trulia.com/,https://www.trulia.com/NY/New_York/10011/2_p/,https://www.trulia.com/NY/New_York/10011/,725000,1bd1ba19440 sqft,NaN,1.0,1.0,1bd,19440 sqft

In [32]:
tr['sqft_2'], tr['test_2'] = tr['sqft'].str.split(' ', 1).str

In [33]:
tr.head()

,address,city/state,home_page,next_page_url,page_url,price,qualities,studio,bath,bed,test,sqft,sqft_2,test_2
0,458 W 23rd St #Garden,"Chelsea, New York, NY",https://www.trulia.com/,https://www.trulia.com/NY/New_York/10011/2_p/,https://www.trulia.com/NY/New_York/10011/,559000,1bd1ba,NaN,1.0,1.0,1bd,NaN,NaN,NaN
1,201 W 21st St #7-H,"Chelsea, New York, NY",https://www.trulia.com/,https://www.trulia.com/NY/New_York/10011/2_p/,https://www.trulia.com/NY/New_York/10011/,675000,Studio1ba,Studio,1.0,NaN,Studio,NaN,NaN,NaN
2,201 W 16th St #4A,"Chelsea, New York, NY",https://www.trulia.com/,https://www.trulia.com/NY/New_York/10011/2_p/,https://www.trulia.com/NY/New_York/10011/,1495000,2bd2ba101221 sqft,NaN,2.0,2.0,2bd,101221 sqft,101221,sqft
3,150 W 12th St #4south,"Greenwich Village, New York, NY",https://www.trulia.com/,https://www.trulia.com/NY/New_York/10011/2_p/,https://www.trulia.com/NY/New_York/10011/,3995000,2bd2ba1465 sqft,NaN,2.0,2.0,2bd,1465 sqft,1465,sqft
4,342 W 21st St #2D,"Chelsea, New York, NY",https://www.trulia.com/,https://www.trulia.com/NY/New_York/10011/2_p/,https://www.trulia.com/NY/New_York/10011/,725000,1bd1ba19440 sqft,NaN,1.0,1.0,1bd,19440 sqft,19440,sqft

In [34]:
tr.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 420 entries, 0 to 419
Data columns (total 14 columns):
address          420 non-null object
city/state       420 non-null object
home_page        420 non-null object
next_page_url    420 non-null object
page_url         420 non-null object
price            420 non-null int64
qualities        420 non-null object
studio           55 non-null object
bath             417 non-null float64
bed              362 non-null float64
test             420 non-null object
sqft             360 non-null object
sqft_2           360 non-null object
test_2           357 non-null object
dtypes: float64(2), int64(1), object(11)
memory usage: 46.0+ KB

In [35]:
tr['sqft_2'] = tr['sqft_2'].astype(float)

In [36]:
tr.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 420 entries, 0 to 419
Data columns (total 14 columns):
address          420 non-null object
city/state       420 non-null object
home_page        420 non-null object
next_page_url    420 non-null object
page_url         420 non-null object
price            420 non-null int64
qualities        420 non-null object
studio           55 non-null object
bath             417 non-null float64
bed              362 non-null float64
test             420 non-null object
sqft             360 non-null object
sqft_2           357 non-null float64
test_2           357 non-null object
dtypes: float64(3), int64(1), object(10)
memory usage: 46.0+ KB

# Clean dataframe

In [37]:
tr.head()

,address,city/state,home_page,next_page_url,page_url,price,qualities,studio,bath,bed,test,sqft,sqft_2,test_2
0,458 W 23rd St #Garden,"Chelsea, New York, NY",https://www.trulia.com/,https://www.trulia.com/NY/New_York/10011/2_p/,https://www.trulia.com/NY/New_York/10011/,559000,1bd1ba,NaN,1.0,1.0,1bd,NaN,NaN,NaN
1,201 W 21st St #7-H,"Chelsea, New York, NY",https://www.trulia.com/,https://www.trulia.com/NY/New_York/10011/2_p/,https://www.trulia.com/NY/New_York/10011/,675000,Studio1ba,Studio,1.0,NaN,Studio,NaN,NaN,NaN
2,201 W 16th St #4A,"Chelsea, New York, NY",https://www.trulia.com/,https://www.trulia.com/NY/New_York/10011/2_p/,https://www.trulia.com/NY/New_York/10011/,1495000,2bd2ba101221 sqft,NaN,2.0,2.0,2bd,101221 sqft,101221.0,sqft
3,150 W 12th St #4south,"Greenwich Village, New York, NY",https://www.trulia.com/,https://www.trulia.com/NY/New_York/10011/2_p/,https://www.trulia.com/NY/New_York/10011/,3995000,2bd2ba1465 sqft,NaN,2.0,2.0,2bd,1465 sqft,1465.0,sqft
4,342 W 21st St #2D,"Chelsea, New York, NY",https://www.trulia.com/,https://www.trulia.com/NY/New_York/10011/2_p/,https://www.trulia.com/NY/New_York/10011/,725000,1bd1ba19440 sqft,NaN,1.0,1.0,1bd,19440 sqft,19440.0,sqft

In [38]:
tr.drop(columns= ['home_page', 'next_page_url', 'page_url', 'test', 'sqft', 'test_2', 'qualities'],
       inplace=True)

In [39]:
tr.head(30)

,address,city/state,price,studio,bath,bed,sqft_2
0,458 W 23rd St #Garden,"Chelsea, New York, NY",559000,NaN,1.0,1.0,NaN
1,201 W 21st St #7-H,"Chelsea, New York, NY",675000,Studio,1.0,NaN,NaN
2,201 W 16th St #4A,"Chelsea, New York, NY",1495000,NaN,2.0,2.0,101221.0
3,150 W 12th St #4south,"Greenwich Village, New York, NY",3995000,NaN,2.0,2.0,1465.0
4,342 W 21st St #2D,"Chelsea, New York, NY",725000,NaN,1.0,1.0,19440.0
5,111 W 11th St #3FE,"Greenwich Village, New York, NY",659000,Studio,1.0,NaN,NaN
6,300 W 23rd St #3I,"Chelsea, New York, NY",475000,Studio,1.0,NaN,430.0
7,148 W 23rd St #3G,"Chelsea, New York, NY",700000,NaN,1.0,1.0,802.0
8,149 W 12th St #6/6,"Greenwich Village, New York, NY",675000,NaN,1.0,1.0,NaN
9,142 5th Ave,"Flatiron District, New York, NY",6950000,NaN,4.0,4.0,3500.0
10,13 W 13th St #2AS,"Greenwich Village, New York, NY",875000,NaN,1.0,1.0,740.0
11,356 W 23rd St #4A,"Chelsea, New York, NY",879000,NaN,1.0,2.0,700.0
12,166 W 18th St #5C,"Chelsea, New York, NY",5000000,NaN,4.0,5.0,2580.0
13,520 W 23rd St #7A,"Chelsea, New York, NY",775000,NaN,1.0,1.0,670.0
14,483 W 22nd St,"Chelsea, New York, NY",7900000,NaN,6.0,6.0,4155.0
15,16 W 16th St #6FN,"Flatiron District, New York, NY",799000,NaN,1.0,1.0,NaN
16,43 W 12th St,"Greenwich Village, New York, NY",7750000,NaN,4.0,4.0,2288.0
17,101 W 12th St #12Y,"Greenwich Village, New York, NY",595000,Studio,1.0,NaN,364679.0
18,118 Waverly Pl #4A,"Greenwich Village, New York, NY",799000,NaN,1.0,1.0,NaN
19,30 5th Ave #7C,"Greenwich Village, New York, NY",1165000,NaN,1.0,1.0,NaN
20,450 W 17th St #1122,"Chelsea, New York, NY",1695000,NaN,1.0,1.0,769.0
21,231 W 16th St #5E,"Chelsea, New York, NY",1495000,NaN,2.0,2.0,NaN
22,520 W 23rd St #7C,"Chelsea, New York, NY",1200000,NaN,2.0,2.0,891.0
23,124 W 23rd St #16A,"Chelsea, New York, NY",4495000,NaN,3.0,3.0,2025.0
24,335 W 21st St #RE,"Chelsea, New York, NY",799000,NaN,1.0,1.0,10250.0
25,212 W 18th St #1,"Gramercy, New York, NY",35000000,NaN,6.0,5.0,5955.0
26,444 W 19th St #1002,"Chelsea, New York, NY",3750000,NaN,2.0,2.0,1455.0
27,459 W 18th St #2,"Chelsea, New York, NY",9950000,NaN,4.0,4.0,3447.0
28,462 W 23rd St,"Chelsea, New York, NY",18000000,NaN,10.0,4.0,7050.0
29,161 W 15th St #6C,"Chelsea, New York, NY",2290000,NaN,2.0,2.0,1400.0

In [40]:
tr.rename(columns={'sqft_2': 'sqft'}, inplace=True)

In [41]:
tr.head()

,address,city/state,price,studio,bath,bed,sqft
0,458 W 23rd St #Garden,"Chelsea, New York, NY",559000,NaN,1.0,1.0,NaN
1,201 W 21st St #7-H,"Chelsea, New York, NY",675000,Studio,1.0,NaN,NaN
2,201 W 16th St #4A,"Chelsea, New York, NY",1495000,NaN,2.0,2.0,101221.0
3,150 W 12th St #4south,"Greenwich Village, New York, NY",3995000,NaN,2.0,2.0,1465.0
4,342 W 21st St #2D,"Chelsea, New York, NY",725000,NaN,1.0,1.0,19440.0

# Save CSV

In [42]:
tr.to_csv('./datasets/nlp_final_1.csv', index=False)

# If Studio exists, bed should be 1 and bath should be 1

In [43]:
tr.loc[tr['studio'] == 'Studio', 'bed'] = 1

In [44]:
tr.loc[tr['studio'] == 'Studio', 'bath'] = 1

In [45]:
tr.head(30)

,address,city/state,price,studio,bath,bed,sqft
0,458 W 23rd St #Garden,"Chelsea, New York, NY",559000,NaN,1.0,1.0,NaN
1,201 W 21st St #7-H,"Chelsea, New York, NY",675000,Studio,1.0,1.0,NaN
2,201 W 16th St #4A,"Chelsea, New York, NY",1495000,NaN,2.0,2.0,101221.0
3,150 W 12th St #4south,"Greenwich Village, New York, NY",3995000,NaN,2.0,2.0,1465.0
4,342 W 21st St #2D,"Chelsea, New York, NY",725000,NaN,1.0,1.0,19440.0
5,111 W 11th St #3FE,"Greenwich Village, New York, NY",659000,Studio,1.0,1.0,NaN
6,300 W 23rd St #3I,"Chelsea, New York, NY",475000,Studio,1.0,1.0,430.0
7,148 W 23rd St #3G,"Chelsea, New York, NY",700000,NaN,1.0,1.0,802.0
8,149 W 12th St #6/6,"Greenwich Village, New York, NY",675000,NaN,1.0,1.0,NaN
9,142 5th Ave,"Flatiron District, New York, NY",6950000,NaN,4.0,4.0,3500.0
10,13 W 13th St #2AS,"Greenwich Village, New York, NY",875000,NaN,1.0,1.0,740.0
11,356 W 23rd St #4A,"Chelsea, New York, NY",879000,NaN,1.0,2.0,700.0
12,166 W 18th St #5C,"Chelsea, New York, NY",5000000,NaN,4.0,5.0,2580.0
13,520 W 23rd St #7A,"Chelsea, New York, NY",775000,NaN,1.0,1.0,670.0
14,483 W 22nd St,"Chelsea, New York, NY",7900000,NaN,6.0,6.0,4155.0
15,16 W 16th St #6FN,"Flatiron District, New York, NY",799000,NaN,1.0,1.0,NaN
16,43 W 12th St,"Greenwich Village, New York, NY",7750000,NaN,4.0,4.0,2288.0
17,101 W 12th St #12Y,"Greenwich Village, New York, NY",595000,Studio,1.0,1.0,364679.0
18,118 Waverly Pl #4A,"Greenwich Village, New York, NY",799000,NaN,1.0,1.0,NaN
19,30 5th Ave #7C,"Greenwich Village, New York, NY",1165000,NaN,1.0,1.0,NaN
20,450 W 17th St #1122,"Chelsea, New York, NY",1695000,NaN,1.0,1.0,769.0
21,231 W 16th St #5E,"Chelsea, New York, NY",1495000,NaN,2.0,2.0,NaN
22,520 W 23rd St #7C,"Chelsea, New York, NY",1200000,NaN,2.0,2.0,891.0
23,124 W 23rd St #16A,"Chelsea, New York, NY",4495000,NaN,3.0,3.0,2025.0
24,335 W 21st St #RE,"Chelsea, New York, NY",799000,NaN,1.0,1.0,10250.0
25,212 W 18th St #1,"Gramercy, New York, NY",35000000,NaN,6.0,5.0,5955.0
26,444 W 19th St #1002,"Chelsea, New York, NY",3750000,NaN,2.0,2.0,1455.0
27,459 W 18th St #2,"Chelsea, New York, NY",9950000,NaN,4.0,4.0,3447.0
28,462 W 23rd St,"Chelsea, New York, NY",18000000,NaN,10.0,4.0,7050.0
29,161 W 15th St #6C,"Chelsea, New York, NY",2290000,NaN,2.0,2.0,1400.0

In [46]:
tr.to_csv('./datasets/nlp_final_2.csv', index=False)

In [47]:
tr

,address,city/state,price,studio,bath,bed,sqft
0,458 W 23rd St #Garden,"Chelsea, New York, NY",559000,NaN,1.0,1.0,NaN
1,201 W 21st St #7-H,"Chelsea, New York, NY",675000,Studio,1.0,1.0,NaN
2,201 W 16th St #4A,"Chelsea, New York, NY",1495000,NaN,2.0,2.0,101221.0
3,150 W 12th St #4south,"Greenwich Village, New York, NY",3995000,NaN,2.0,2.0,1465.0
4,342 W 21st St #2D,"Chelsea, New York, NY",725000,NaN,1.0,1.0,19440.0
5,111 W 11th St #3FE,"Greenwich Village, New York, NY",659000,Studio,1.0,1.0,NaN
6,300 W 23rd St #3I,"Chelsea, New York, NY",475000,Studio,1.0,1.0,430.0
7,148 W 23rd St #3G,"Chelsea, New York, NY",700000,NaN,1.0,1.0,802.0
8,149 W 12th St #6/6,"Greenwich Village, New York, NY",675000,NaN,1.0,1.0,NaN
9,142 5th Ave,"Flatiron District, New York, NY",6950000,NaN,4.0,4.0,3500.0
10,13 W 13th St #2AS,"Greenwich Village, New York, NY",875000,NaN,1.0,1.0,740.0
11,356 W 23rd St #4A,"Chelsea, New York, NY",879000,NaN,1.0,2.0,700.0
12,166 W 18th St #5C,"Chelsea, New York, NY",5000000,NaN,4.0,5.0,2580.0
13,520 W 23rd St #7A,"Chelsea, New York, NY",775000,NaN,1.0,1.0,670.0
14,483 W 22nd St,"Chelsea, New York, NY",7900000,NaN,6.0,6.0,4155.0
15,16 W 16th St #6FN,"Flatiron District, New York, NY",799000,NaN,1.0,1.0,NaN
16,43 W 12th St,"Greenwich Village, New York, NY",7750000,NaN,4.0,4.0,2288.0
17,101 W 12th St #12Y,"Greenwich Village, New York, NY",595000,Studio,1.0,1.0,364679.0
18,118 Waverly Pl #4A,"Greenwich Village, New York, NY",799000,NaN,1.0,1.0,NaN
19,30 5th Ave #7C,"Greenwich Village, New York, NY",1165000,NaN,1.0,1.0,NaN
20,450 W 17th St #1122,"Chelsea, New York, NY",1695000,NaN,1.0,1.0,769.0
21,231 W 16th St #5E,"Chelsea, New York, NY",1495000,NaN,2.0,2.0,NaN
22,520 W 23rd St #7C,"Chelsea, New York, NY",1200000,NaN,2.0,2.0,891.0
23,124 W 23rd St #16A,"Chelsea, New York, NY",4495000,NaN,3.0,3.0,2025.0
24,335 W 21st St #RE,"Chelsea, New York, NY",799000,NaN,1.0,1.0,10250.0
25,212 W 18th St #1,"Gramercy, New York, NY",35000000,NaN,6.0,5.0,5955.0
26,444 W 19th St #1002,"Chelsea, New York, NY",3750000,NaN,2.0,2.0,1455.0
27,459 W 18th St #2,"Chelsea, New York, NY",9950000,NaN,4.0,4.0,3447.0
28,462 W 23rd St,"Chelsea, New York, NY",18000000,NaN,10.0,4.0,7050.0
29,161 W 15th St #6C,"Chelsea, New York, NY",2290000,NaN,2.0,2.0,1400.0
...,...,...,...,...,...,...,...
390,100 W 18th St #5B,"Chelsea, New York, NY",1750000,NaN,2.0,1.0,1058.0
391,305 W 16th St #3H,"Chelsea, New York, NY",2199000,NaN,2.0,2.0,NaN
392,346 W 22nd St #2,"Chelsea, New York, NY",2998000,NaN,3.0,3.0,1560.0
393,175 W 12th St #12E,"Greenwich Village, New York, NY",1500000,NaN,1.0,1.0,877.0
394,101 W 24th St #2A,"Chelsea, New York, NY",3850000,NaN,3.0,2.0,1570.0
395,16 W 16th St #6HN,"Flatiron District, New York, NY",565000,Studio,1.0,1.0,470.0
396,122 Greenwich Ave #Pha,"West Village, New York, NY",16900000,NaN,7.0,4.0,5574.0
397,211 W 14th St #5A,"East Village, New York, NY",3875000,NaN,3.0,3.0,1733.0
398,125 W 22nd St #2C,"Chelsea, New York, NY",1529000,NaN,2.0,1.0,1100.0
399,559 W 23rd St #Comm,"Chelsea, New York, NY",2900000,Studio,1.0,1.0,NaN
400,31 W 16th St #1,"Flatiron District, New York, NY",3650000,NaN,3.0,2.0,1700.0
401,555 W 23rd St #N8Q,"Chelsea, New York, NY",849000,NaN,1.0,1.0,490.0
402,55 W 17th St #504,"Flatiron District, New York, NY",3699990,NaN,3.0,3.0,1934.0
403,145 W 13th St #302,"Greenwich Village, New York, NY",2400000,NaN,2.0,2.0,1351.0
404,234 W 20th St #1A,"Chelsea, New York, NY",1148000,NaN,2.0,1.0,901.0
405,555 W 23rd St #N11C,"Chelsea, New York, NY",2195000,NaN,2.0,2.0,1251.0
406,211 W 14th St #5B,"East Village, New York, NY",2995000,NaN,3.0,2.0,1378.0
407,16 W 19th St #6E,"Flatiron District, New York, NY",1350000,NaN,1.0,1.0,904.0
408,155 W 11th St #9D,"Greenwich Village, New York, NY",5995000,NaN,2.0,2.0,1515.0
409,452 W 19th St #1D,"Chelsea, New York, NY",1995000,NaN,2.0,2.0,1916.0
410,140 5th Ave #11,"Flatiron District, New York, NY",7950000,NaN,3.0,4.0,NaN
411,470 W 24th St #16H,"Chelsea, New York, NY",1100000,NaN,1.0,1.0,296532.0
412,555 W 23rd St #N7M,"Chelsea, New York, NY",1100000,NaN,1.0,1.0,692.0
413,444 W 19th St #502,"Chelsea, New York, NY",1300000,NaN,1.0,1.0,700.0
414,514 W 24th St #3E,"Chelsea, New York, NY",4950000,NaN,3.0,2.0,2283.0
415,161 W 16th St #7L,"Chelsea, New York, NY",1450000,NaN,2.0,2.0,138320.0
416,161 W 15th St #2B,"Chelsea, New York, NY",2295000,NaN,1.0,1.0,126134.0
417,551 W 21st St #5B,"Chelsea, New York, NY",6625000,NaN,3.0,2.0,2288.0
418,353 W 20th St,"Chelsea, New York, NY",8950000,NaN,8.0,4.0,6000.0
419,231 10th Ave #7B,"Chelsea, New York, NY",2200000,NaN,2.0,2.0,1421.0

In [48]:
tr_2 = pd.read_csv('./datasets/nlp_final_2.csv')

In [49]:
tr_2.loc[tr['studio'] == 'Studio', 'bed'] = 0

In [50]:
tr_2.head()

,address,city/state,price,studio,bath,bed,sqft
0,458 W 23rd St #Garden,"Chelsea, New York, NY",559000,NaN,1.0,1.0,NaN
1,201 W 21st St #7-H,"Chelsea, New York, NY",675000,Studio,1.0,0.0,NaN
2,201 W 16th St #4A,"Chelsea, New York, NY",1495000,NaN,2.0,2.0,101221.0
3,150 W 12th St #4south,"Greenwich Village, New York, NY",3995000,NaN,2.0,2.0,1465.0
4,342 W 21st St #2D,"Chelsea, New York, NY",725000,NaN,1.0,1.0,19440.0

In [51]:
tr_2.to_csv('./datasets/nlp_final_3.csv', index=False)